
.idea/workspace.xml
Notes&Events.xcodeproj/xcuserdata/nikolaybudai.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Notes&Events.xcodeproj/xcuserdata/nikolaybudai.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Notes&Events/Views/en.lproj/Main.strings
